html, body {
  height: 100%;
  width: 100%;
}

body{     /* corpo */

   background: #e5e58b ;  /* fundo */
   font : normal 15 pt Arial;        /*fonte e tamanho */
   
  

}

header{           /*cabeçalho*/

    color: black;    /* cor da letras  */
    text-align: center;   /* deixar o texto no centro */

}


h1{
      text-align: center;  
      color: #495cee;


  
}
section{         /* sessão  */
   
  background: #8fd68f;  /* fundo dentro da section */
  border-radius: 10px;  /* borda arrendondada  */
  padding: 67px;        /* abre a borda deixando maior*/
  width:250px;         /* aumenta e diminui a borda e espaço */
  margin: auto;         /* trouxe a borda para o centro */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);  /* sombra da borda */
  text-align: center;

}

div {

  text-align: center;
  padding: 5px;
  color: black;


}


footer{      /* Rodapé */

    color:black ;       /* cor da letras  */
    text-align: center;   /* deixar o texto no centro */
    font-style: italic;   /* deixa o texto italico   */

}



